
{% extends "WABlogBundle:Article:edit.html.twig" %}

{% block titre %} {{parent()}} - Symfoni2 {% endblock %} 



{% block content %} 

		<h1 class="title">Flickr avec Symfony2</h1>
		<h2 class="sous_titre"> On édite l'article: {{ article }}</h2>

        {{parent()}} <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque amet expedita modi quaerat omnis debitis, tempore laboriosam eum, pariatur mollitia, beatae vero similique fuga tenetur perspiciatis fugiat?

{% endblock %} 






















