
<!DOCTYPE HTML>  													
<html lang="fr">

    </head>
    <title>TP Flickr</title>
    <link rel="stylesheet" href="{{asset('bundles/wablog/css/flickr.css')}}">
    <meta charset="utf-8">	

    <body>
			<h1 class="title">Flickr avec Symfony2</h1>
			<h2> On affiche l'article: {{ article }}</h2>

	{#		<h2>Tu as {{ age }} ans</h2>
			{% if age > 60 %} <p>vous êtes vieux</p>  
			{% else %} <p>vous êtes jeune</p>  
			{% endif %}
			
	{#		<a href='{{url}}'>Dites bonjour à Brayan</a> #}

    </body>

</html>






















