
{% extends "WABlogBundle:Article:layout.html.twig" %}

{% block titre %} {{parent()}} - Symfoni2 {% endblock %} 



{% block content %} 

		<h1 class="title">Flickr avec Symfony2</h1>
		<h2 class="sous_titre"> On modifie un article avec extends</h2>

		<form class="form" action="" method="POST">
			<textarea rows="10" cols="55" name="resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque amet expedita modi quaerat omnis debitis, tempore laboriosam eum, pariatur mollitia, beatae vero similique fuga tenetur perspiciatis fugiat?
			</textarea>
		</form>

{% endblock %} 















