
<!DOCTYPE HTML>  													
<html lang="fr">

    </head>
    <title>TP Flickr</title>
    <link rel="stylesheet" href="{{asset('bundles/wablog/css/flickr.css')}}">
    <meta charset="utf-8">	

    <body>
			<h1 class="title">Flickr avec Symfony2</h1>
			<h2 class="sous_titre"> On crée l'article : {{ article }}</h2>
    </body>

</html>






















